.main {
  background-color: #ccc;

  &__title {
    text-transform: uppercase;
    font-size: 25px;
    color: #333;
  }

  &__text {
    font-size: 26px;
    font-weight: bold;
    color: green;
  }
}